.sort-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        i{
            cursor: pointer; 
            padding-left: 3px;
        }
    }
}

.add-new{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .List-user{
      font-weight: 600;
      font-size: larger;
    }
    .group-btns{
        display: flex;
        gap: 10px;
    }

  }